<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laher.learnfractions">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".lessons.fraction_meaning.FractionMeaningVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.fraction_meaning.FractionMeaningExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.fraction_meaning.FractionMeaningExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LessonsMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.non_visual_fraction.NonVisualVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.non_visual_fraction.NonVisualExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.non_visual_fraction.NonVisualExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.comparing_similar_fractions.ComparingSimilarVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.comparing_similar_fractions.ComparingSimilarExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.comparing_similar_fractions.ComparingSimilarExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.comparing_dissimilar_fractions.ComparingDissimilarVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.comparing_dissimilar_fractions.ComparingDissimilarExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.comparing_dissimilar_fractions.ComparingDissimilarExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.comparing_fractions.ComparingFractionsExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.comparing_fractions.ComparingFractionsExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.comparing_fractions.ComparingFractionsVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.ordering_similar.OrderingSimilarVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.ordering_similar.OrderingSimilarExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.ordering_similar.OrderingSimilarExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.ordering_dissimilar.OrderingDissimilarVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.ordering_dissimilar.OrderingDissimilarExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.ordering_dissimilar.OrderingDissimilarExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.adding_similar.AddingSimilarVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.adding_similar.AddingSimilarExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.classifying_fractions.ClassifyingFractionsVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.classifying_fractions.ClassifyingFractionsExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.converting_fractions.ConvertingFractionsVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.converting_fractions.ConvertingFractionsExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.converting_fractions.ConvertingFractionsExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.adding_dissimilar.AddingDissimilarVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.adding_dissimilar.AddingDissimilarExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.subtracting_similar.SubtractingSimilarVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.subtracting_similar.SubtractingSimilarExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.subtracting_dissimilar.SubtractingDissimilarVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.subtracting_dissimilar.SubtractingDissimilarExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.multiplying_fractions.MultiplyingFractionsVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.multiplying_fractions.MultiplyingFractionsExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.dividing_fractions.DividingFractionsVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.dividing_fractions.DividingFractionsExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.solving_mixed.SolvingMixedVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.solving_mixed.SolvingMixedExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lessons.solving_mixed2.SolvingMixed2VideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lessons.solving_mixed2.SolvingMixed2ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_activities.AdminMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_activities.AccountManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_activities.ChangeUserPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_activities.UserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.TeacherMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student_activities.StudentMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeatWorkListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.FractionMeaningSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".parent_activities.SeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.ComparingSimilarSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.ComparingDissimilarSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.OrderingSimilarSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.OrderingDissimilarSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.AddingSimilarSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.AddingDissimilarSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.SubtractingSimilarSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.SubtractingDissimilarSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.MultiplyingFractionsSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.DividingFractionsSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.AddSubMixedFractionsSeatWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seat_works.MultiplyDivideMixedFractionsSeatWork"
            android:screenOrientation="portrait" />
        <activity android:name=".ChapterExamListActivity" />
        <activity android:name=".model.ChapterExam" />
        <activity
            android:name=".teacher.ManageExamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassRanksMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rankings.ClassExamRanksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rankings.ClassSeatWorkRanksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".parent_activities.Lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".parent_activities.LessonVideo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".parent_activities.LessonExercise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher2.LessonExercisesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".parent_activities.MainFrame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rankings.ClassExercisesRanksActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".user_activities.UserMainActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".teacher2.StudentProgressActivity"></activity>
    </application>

</manifest>