<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laher.learnfractions">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".fractionmeaning.FractionMeaningVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fractionmeaning.FractionMeaningExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fractionmeaning.FractionMeaningExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopicsMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".non_visual_fraction.NonVisualVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".non_visual_fraction.NonVisualExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".non_visual_fraction.NonVisualExercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".comparing_similar_fractions.ComparingSimilarVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".comparing_similar_fractions.ComparingSimilarExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".comparing_similar_fractions.ComparingSimilarExercise2Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".comparing_dissimilar_fractions.ComparingDissimilarVideoActivity" />
        <activity android:name=".comparing_dissimilar_fractions.ComparingDissimilarExerciseActivity" />
        <activity android:name=".comparing_dissimilar_fractions.ComparingDissimilarExercise2Activity" />
        <activity android:name=".comparing_fractions.ComparingFractionsExerciseActivity" />
        <activity android:name=".comparing_fractions.ComparingFractionsExercise2Activity" />
        <activity android:name=".comparing_fractions.ComparingFractionsVideoActivity" />
        <activity android:name=".ordering_similar.OrderingSimilarVideoActivity" />
        <activity android:name=".ordering_similar.OrderingSimilarExerciseActivity" />
        <activity android:name=".ordering_similar.OrderingSimilarExercise2Activity"></activity>
    </application>

</manifest>